{% comment %} Bulk Order Form - Designed by Symmetry Commerce {% endcomment %}

{%- liquid
  assign enable_sticky_facet = section.settings.enable_sticky_facet
  assign enable_sorting = true
  assign enable_viewing = true
  assign enable_filtering = true
  assign enable_filtering_color_swatches = true
  assign filter_max_items = 5
  assign color_swatches_add_label = true

  if collection.all_products_count > 5000
    assign enable_filtering = false
  endif
-%}

{%- if enable_sticky_facet -%}
  <link rel="stylesheet" href="{{ 'component-facet-sticky.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<div class="section--padding">
  <div class="product-grid-container">
    {% render 'bulk-order',
      results: collection,
      enable_filtering: enable_filtering,
      enable_sorting: enable_sorting,
      enable_sticky_facet: enable_sticky_facet,
      enable_filtering_color_swatches: enable_filtering_color_swatches,
      enable_viewing: enable_viewing,
      filter_max_items: filter_max_items,
      color_swatches_add_label: color_swatches_add_label
    %}
  </div>
</div>

{% schema %}
{
  "name": "Bulk Order Form",
  "tag": "section",
  "class": "section collection-grid-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_facet",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sticky_facet.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_sticky_facet.info"
    }
  ]
}
{% endschema %}
